@font-face {
  font-family: 'NotoSansCJK';
  src: url('../font/NotoSansCJKjp-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'AnjaEliane';
  src: url('../font/AnjaEliane.ttf') format("truetype");
}
